MODERN_NOTIFICATION_ICON_BUTTON_CANCEL RCDATA "images\\button-cancel.png"
MODERN_NOTIFICATION_ICON_BUTTON_DOWNLOAD RCDATA "images\\button-download.png"
MODERN_NOTIFICATION_ICON_BUTTON_ERROR RCDATA "images\\button-error.png"
MODERN_NOTIFICATION_ICON_BUTTON_HELP RCDATA "images\\button-help.png"
MODERN_NOTIFICATION_ICON_BUTTON_INFO RCDATA "images\\button-info.png"
MODERN_NOTIFICATION_ICON_BUTTON_OK RCDATA "images\\button-ok.png"
MODERN_NOTIFICATION_ICON_BUTTON_REFRESH RCDATA "images\\button-refresh.png"
MODERN_NOTIFICATION_ICON_BUTTON_TREND_DOWN RCDATA "images\\button-trend-down.png"
MODERN_NOTIFICATION_ICON_BUTTON_UPDATE RCDATA "images\\button-update.png"
MODERN_NOTIFICATION_ICON_CHART_PIE_2D RCDATA "images\\chart-pie-2d.png"
MODERN_NOTIFICATION_ICON_CHART_PIE_2D_EXPLODED RCDATA "images\\chart-pie-2d-exploded.png"
MODERN_NOTIFICATION_ICON_CHARTS RCDATA "images\\charts.png"
MODERN_NOTIFICATION_ICON_CHARTS_COLORS RCDATA "images\\charts-colors.png"
MODERN_NOTIFICATION_ICON_CHARTS_AREA_COLOR RCDATA "images\\charts-area-color.png"
MODERN_NOTIFICATION_ICON_EMOTICON_HAPPY RCDATA "images\\emoticon-happy.png"
MODERN_NOTIFICATION_ICON_EMOTICON_SAD RCDATA "images\\emoticon-sad.png"
MODERN_NOTIFICATION_ICON_EMOTICON_SMILE RCDATA "images\\emoticon-smile.png"
MODERN_NOTIFICATION_ICON_FIND RCDATA "images\\find.png"
MODERN_NOTIFICATION_ICON_FIRE RCDATA "images\\fire.png"
MODERN_NOTIFICATION_ICON_FIRE2 RCDATA "images\\fire2.png"
MODERN_NOTIFICATION_ICON_FLAG_ALGERIA RCDATA "images\\flag-algeria.png"
MODERN_NOTIFICATION_ICON_GIFT RCDATA "images\\gift.png"
MODERN_NOTIFICATION_ICON_INTERNET RCDATA "images\\internet.png"
MODERN_NOTIFICATION_ICON_LIGHT_BULB RCDATA "images\\light-bulb.png"
MODERN_NOTIFICATION_ICON_NEW RCDATA "images\\new.png"
MODERN_NOTIFICATION_ICON_ON_OFF RCDATA "images\\on-off.png"
MODERN_NOTIFICATION_ICON_REMINDER RCDATA "images\\reminder.png"
MODERN_NOTIFICATION_ICON_SAVE RCDATA "images\\save.png"
MODERN_NOTIFICATION_ICON_USER_PROFILE RCDATA "images\\user-profile.png"
